.hero {
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 88vh;
        padding: 20px;
    }

    &__logo {
        // display: flex;
        // justify-content: center;

        img {
            width: 102px;
            height: 23px;
        }
    }

    &__main-title {
        font-family: $bebas-neue;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        color: $white;
        letter-spacing: 5px;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-family: $main-font-family;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $white;
    }

    &__scroll {
        display: block;
        height: 30px;
        width: 150px;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
    }

    &__btn {
        color: $white;
        font-family: $main-font-family;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 3.7px;
        position: absolute;
        animation: jamping  .9s linear infinite;
    }
}

@media(max-width: 768px) {
    .hero {
        &__main-title {
            font-size: 44px;
        }

        &__subtitle {
            font-size: 16px;
        }
    }
}

@keyframes jamping {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}