.story {
    padding: 57px 63px;
    font-family: $main-font-family;

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        margin-bottom: 68px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 50px;
            height: 2px;
            bottom: -13px;
            left: 47%;
            background-color: $primery-color;
        }
    }

    &__wrap {
        display: flex;
    }

    &__info {
        line-height: 1.5;
        letter-spacing: 0.17px;
        max-width: 405px;
        margin-right: 85px;
    }

    &__name {
        font-size: 20px;
        margin-bottom: 30px;

        
        span {
            color: $primery-color;
        }
    }

    &__descr {
        font-size: 13px;
        
    }

    
    &__bg {
        display: flex;
        position: relative;

        &-item {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &-title {
            position: absolute;
            font-size: 24px;
            line-height: 1.6;
            align-items: center;
            color: $white;
            max-width: 110px;
            padding: 15px 0 0 14px;
        }
    }
}

@media(max-width: 1024px) {
    .story {

        &__wrap {
            display: block;
        }

        &__info {
            margin: 0 auto;
            display: flex;
            max-width: 800px;
        }

        &__bg {
            justify-content: right;
            margin-right: 50px;
        }
    }
}

@media(max-width: 768px) {
    .story {
        padding: 26px 30px;

        &__title {
            margin-bottom: 34px;
            
            &::before {
                left: 43%;
            }
        }

        &__name {
            font-size: 16px;
        }

        &__bg {
            justify-content: space-between;
        }
    }
}

@media(max-width: 530px) {
    .story {
        &__info {
            display: block;
        }

        &__bg {
            display: block;
            margin-top: 20px;

            &-item {
                margin: 0 auto;
            }

        }
    }
}