$primery-color: #00A4E5;
$text-color: #48555B;
$white: #fff;
$footer-color: #141A20;
$input-bg-color: #171819;

$main-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$bebas-neue: 'Bebas Neue', 'Arial', 'Helvetica', sans-serif;

$trs: all .3s linear;